<style>
    body {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<section data-aos="fade-up" class="px-5 py-4 rgba-white-strong rounded shadow" style=" background-color:white;">


    <div class="row">


        <div class="col-sm-xl-xxl-fluid-lg-6">
            <div>
                <h3>Trường học</h3>
            </div>
            <hr style="border: 2px solid #4B0082">
            <div class="gioithieu">
                <p style="font-size: 1.25rem;">Các văn bằng chứng chỉ của chúng tôi cung cấp cho học sinh một lộ trình được thiết kế chặt chẽ nhằm
                    nâng cao trình độ Lập trình. </p>
            </div>


        </div>
        <div class="col-sm-xl-xxl-fluid-lg-6">
            <div>
                <h3>Học viên</h3>
            </div>
            <hr style="border: 2px solid #750202">
            <div>
                <p style="font-size: 1.25rem;">Việc chuẩn bị cho một trong các kỳ thi của chúng tôi có thể giúp bạn nâng cao những kiến thức về các
                    môn Lâp trình : Java , html ,....
                    <br>Hãy dành thời gian xem qua một số tài liệu miễn phí của Website.
                </p>
            </div>

        </div>
    </div>
    <hr style="border: 3px solid #C71585;margin-bottom: 20px;">
    <br>
    <div class="sanpham" style="margin-top: 20px;">
    <div class="row">
      
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%;height: 200x;" src="/ASM/assets/img/js.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="/ASM/assets/img/font.png" style="height: 170px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%;height: 200x;" src="/ASM/assets/img/logofont.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>



</section>